.menu{
    border-right: 100px;
    border-left: 100px;
    text-align: center;
    columns: 7;
    font-weight: bold;
    background-color: #333A56;
    padding-bottom: 10px;
}

.text{
    text-decoration: none;
    color: #e8e8e8;
}
@media (max-width: 600px) {
    .text { font-size: 12px;
  }
  }