.navbar{
   padding-right: 40px;
    text-align: right;
    background-color: #618985;
    
    color: aliceblue;
    font-weight: bold;
}

.buttonGit{
    text-align: right;
    padding: 8px;
}

.buttonLinke{
    text-align: right;
    padding: 8px;
}
.nome{
    display: flex;
    text-align: left;
    padding: 8px;
    font-size: 26px;
    font-weight: bold;
}