.navbar{
    display: flex;
    text-align: right;
    background-color: #618985;
    padding: 8px;
    color: aliceblue;
    font-weight: bold;
}

.buttonGit{
    display: flex;
    text-align: right;
    padding: 8px;
}

.buttonLinke{
    display: flex;
    text-align: right;
    padding: 8px;
}
.nome{
    display: flex;
    text-align: left;
    padding: 8px;
}