.frame{
    top: 370px;
    display: flex;
    background-color: #C19875;
    padding-top: 30px;
    position: relative;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    flex-direction: column;
    text-align: center;
    
}

.Hard{
    text-align: center;
    color: #414535;
    font-family: 'Red Hat Display';
  
}

.circulo1{
   
    text-align: center;
    flex-direction: row;
    background-color: #fff;
    color: #414535;
    border-radius: 15px;
    font-family: 'Red Hat Display';
    
}

.top{
    column-count: 5;
    flex-direction: column;
    column-gap: 5px;
    text-align: center;
    position: relative;
}


.topicos{  
   width: 120px;
  
}

.topicos2{
    width: 120px;
}

.topicos3{
    width: 120px;
    
}