.frame{
    background-color: #c1987585;
    top: 350px;
    display: block;
    position: relative;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}
    
.Hard{
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    color: #414535;
    font-weight: bold;
    padding: 30px;
    font-weight: 450;
  
}

.top{
    padding-top: 40px;
    columns: 4;
    text-align: center; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.circulo1{
    border-radius: 10px;
 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #414535;
    border-radius: 15px;
    background-color: #f2e3bc;
    font-family: 'Red Hat Display';
    width: 50%;
}


.quebra{
    color:  #C19875;
}


