.frame{
    background-color: #52658f3a;
    top: 325px;
    display: block;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.329);
    padding-left: 60px;
    padding-right: 40px;
}

@media (max-width: 600px) {
    .frame { top: 370px;   
  }
  }
    
.Hard{
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    color: #414535;
    font-weight: bold;
    padding: 30px;
    font-weight: 450;
  
}

.top{
    padding-top: 40px;
    columns: 4;
    text-align: center; 
    padding-bottom: 40px;
}

.circulo1{
    display: block;
    color: #414535;
    border-radius: 13px;
    background-color: #f7f5e6;
    font-family: 'Red Hat Display';
    width: 50%;
    text-align: center;

}

@media (max-width: 600px) {
    .circulo1 { font-size: 12px;   
  }
  }


.quebra{
    color:  #52658f3a;
}


