.projetos{
    padding-top: 440px;
    padding-bottom: 20px;
}

.titulo{
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 450;
    color: #414535;
    font-weight: bold;
}

.g1{
    padding-top: 30px;
    columns: 2;
    text-align: center; 
    padding-left: 50px;
    padding-right: 50px;
}

.tituloProjeto{
    display: block;
    text-align: center;
    font-family: 'Red Hat Display';
    font-style: normal;
    color: #414535;
    flex-direction: column;

}

.container{
    background-color: #96bbbb79;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
   
}

.img2{
    width: 60%;
    height: auto;
    display: block;
}

button{
    background-color: #618985;
    color: #fff;
    border-radius: 12px;
    border-color: #618985;
    height: auto;
    display: block;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);

}

button:hover{
    background-color: #96bbbb;
    color: #fff;
    border-radius: 12px;
    border-color: #618985;
    height: auto;
    display: block;
    cursor: pointer; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    
}

.quebra{
    color: #fcd7ad;
}