.square{
    position: absolute;
    width: 226px;
    height: 242px;
    left: 126px;
    top: 150px;
    background: #414535;
    border-radius: 12px;
}


.textSobre{
    
    font-size: 18px;
    position: absolute;

    left: 442px;
    right: 40px;
    top: 160px;

    font-family: 'Red Hat Display';
    font-style: normal;

    line-height: 32px;

    color: #414535;
}
  @media (max-width: 1200px) {
    .textSobre { font-size: 18px; }
  }
  @media (max-width: 768px) {
    .textSobre { font-size: 14px; }
  }
  @media (max-width: 468px) {
    .textSobre { font-size: 9px; }
  }
    

.img1{
    width: 210px;
    height: 230px;
    left: 128px;
    top: 226px;
    border-radius: 10px;

}